@{ ViewData["Title"] = "Pagina de incio"; }


<center>
    <div class="card bg-dark text-white" style="width:900px;">
        <img src="/img/home2.png" class="card-img" alt="...">
    </div>
</center>
<br>

